/target/
/.settings/
/.project
/gecco-common/.project
/gecco-common/.settings
/gecco-common/.classpath
/gecco-spider/spider-taoguba/.project
/gecco-spider/spider-taoguba/.settings
/gecco-spider/spider-taoguba/.classpath
/gecco-dao/.classpath
